body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.controls {
	margin-bottom: 1em;
}
.simulation-container {
	width: 603px; /* 201 cells * 3px/cell */
	height: 603px;
	border: 1px solid #ccc;
	margin-bottom: 1em;
}
#simulationCanvas {
	display: block;
}
#histogramContainer {
	width: 600px;
}
#histogramSvg {
	width: 100%;
	height: 300px;
	border: 1px solid #eee;
}
